<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="v1.0.0">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="steven.lasch@gmail.com">

    <title>stevenlasch.github.io</title>

    <link rel="stylesheet" href="/artifacts/styles-mobile.css" type="text/css">
    <script src="/artifacts/htmx.min.js"></script>
</head>
<body>
    <header><i class="thumbtack"></i>stevenlasch.<span>github.io</span></header>

    <main id="content-area" hx-get="/html/index-main.html" hx-trigger="load">Loading...</main>

    <nav class="bottom-nav">
        <a href="#" hx-get="/html/index-main.html" hx-target="#content-area" hx-swap="innerHTML">Home</a>
    </nav>
</body>
</html>
