<div class="card">
    <h2>JavaScript</h2>

    <ul>
        <li><a href="#" hx-get="/html/tech-js/js-find.html" hx-target="#content-area" hx-swap="innerHTML">JavaScript: Find</a></li>
        <li><a href="#" hx-get="/html/tech-js/js-firebase.html" hx-target="#content-area" hx-swap="innerHTML">Firebase</a></li>
        <li><a href="#" hx-get="/html/tech-js/js-es6-arrow-functions.html" hx-target="#content-area" hx-swap="innerHTML">JavaScript ES6: Arrow Functions</a></li>
    </ul>
</div>
<br />

