<div class="card">
    <h2>Miscellaneous</h2>

    <h3><a href="#" hx-get="/html/misc/misc-art.html" hx-target="#content-area" hx-swap="innerHTML">Art &amp; Illustration</a></h3>
    <h3><a href="#" hx-get="/html/misc/misc-books.html" hx-target="#content-area" hx-swap="innerHTML">Books</a></h3>
    <h3><a href="#" hx-get="/html/misc/misc-careers.html" hx-target="#content-area" hx-swap="innerHTML">Careers</a></h3>
    <h3><a href="#" hx-get="/html/misc/misc-cars.html" hx-target="#content-area" hx-swap="innerHTML">Cars</a></h3>
    <h3><a href="#" hx-get="/html/misc/misc-connecticut.html" hx-target="#content-area" hx-swap="innerHTML">Connecticut</a></h3>

    <h3>Emergencies</h3>
    <ul>
        <li><a href="https://downdetector.com/status/verizon/" target="_blank">Is Verizon experiencing an outage?</a></li>
        <li><a href="https://www.weather.gov/safety/winter" target="_blank">National Weather Service</a></li>
        <li><a href="https://www.ready.gov/winter-weather" target="_blank">Winter Weather</a></li>
        <li><a href="https://www.ready.gov/power-outages" target="_blank">Power Outages</a></li>
    </ul>

    <h3><a href="#" hx-get="/html/misc/misc-health.html" hx-target="#content-area" hx-swap="innerHTML">Health</a></h3>

    <h3>Marketing</h3>
    <ul>
        <li><a href="https://contentmavericks.com/sss/p" target="_blank">Persado - The AI For Marketing At Scale</a></li>
        <li><a href="https://www.shopify.com/plus/guides/ecommerce-automation-101" target="_blank">E-Commerce Automation 101</a></li>
        <li><a href="#" hx-get="/html/misc/misc-marketing-etsy.html" hx-target="#content-area" hx-swap="innerHTML">Marketing on Etsy</a></li>
    </ul>

    <h3><a href="#" hx-get="/html/misc/misc-philosophy.html" hx-target="#content-area" hx-swap="innerHTML">Philosophy</a></h3>
    <h3><a href="#" hx-get="/html/misc-publish/publish-index.html" hx-target="#content-area" hx-swap="innerHTML">Publishing</a></h3>

    <h3>Travel</h3>
    <ul>
        <li><a href="#" hx-get="/html/misc/misc-travel-mtba.html" hx-target="#content-area" hx-swap="innerHTML">The MTBA to Boston</a></li>
    </ul>
</div>
<br />