<div class="card">
    <button class="button" hx-get="/html/misc/misc-art.html"  hx-target="#content-area" hx-swap="innerHTML">Art &amp; Illustration</button>
    <button class="button" hx-get="/html/misc/misc-books.html"  hx-target="#content-area" hx-swap="innerHTML">Books</button>
    <button class="button" hx-get="/html/misc/misc-careers.html"  hx-target="#content-area" hx-swap="innerHTML">Careers</button>
    <button class="button" hx-get="/html/misc/misc-cars.html"  hx-target="#content-area" hx-swap="innerHTML">Cars</button>
    <button class="button" hx-get="/html/misc/misc-health.html"  hx-target="#content-area" hx-swap="innerHTML">Health</button>
    <button class="button" hx-get="/html/misc/misc-philosophy.html"  hx-target="#content-area" hx-swap="innerHTML">Philosophy</button>
    <button class="button" hx-get="/html/misc-publish/publish-index.html"  hx-target="#content-area" hx-swap="innerHTML">Publishing</button>
</div>

<div class="card">
    <h2>Emergencies</h2>
    <ul>
        <li><a href="https://downdetector.com/status/verizon/" target="_blank">Is Verizon experiencing an outage?</a></li>
        <li><a href="https://www.weather.gov/safety/winter" target="_blank">National Weather Service</a></li>
        <li><a href="https://www.ready.gov/winter-weather" target="_blank">Winter Weather</a></li>
        <li><a href="https://www.ready.gov/power-outages" target="_blank">Power Outages</a></li>
    </ul>
</div>

<div class="card">
    <h2>Marketing</h2>

    <ul>
        <li><a href="https://contentmavericks.com/sss/p" target="_blank">Persado - The AI For Marketing At Scale</a></li>
        <li><a href="https://www.shopify.com/plus/guides/ecommerce-automation-101" target="_blank">E-Commerce Automation 101</a></li>
        <li><a href="#" hx-get="/html/misc/misc-marketing-etsy.html" hx-target="#content-area" hx-swap="innerHTML">Marketing on Etsy</a></li>
    </ul>
</div>

<br />