<div class="card">
    <h2>Python</h2>

    <ul>
        <li><a href="#" hx-get="/html/tech-python/python-w3schools.html" hx-target="#content-area" hx-swap="innerHTML">Python: W3Schools</a></li>
        <li><a href="#" hx-get="/html/tech-python/python-install.html" hx-target="#content-area" hx-swap="innerHTML">Python: Install</a></li>
        <li><a href="#" hx-get="/html/tech-python/python-hosting.html" hx-target="#content-area" hx-swap="innerHTML">Python: Hosting</a></li>
        <li><a href="#" hx-get="/html/tech-python/python-http-server.html" hx-target="#content-area" hx-swap="innerHTML">Python: HTTP Server</a></li>
    </ul>
</div>

<!--
    <a href="#" class="button" hx-get="/html/tech-python/python-w3schools.html" hx-target="#content-area" hx-swap="innerHTML">Python: W3Schools</a>
    <a href="#" class="button" hx-get="/html/tech-python/python-install.html" hx-target="#content-area" hx-swap="innerHTML">Python: Install</a>
    <a href="#" class="button" hx-get="/html/tech-python/python-hosting.html" hx-target="#content-area" hx-swap="innerHTML">Python: Hosting</a>
-->
