<div class="card">
    <h2>Web Development &amp; Tech</h2>

    <button class="button" hx-get="/html/tech/tech-ai.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: AI</button>
    <button class="button" hx-get="/html/tech/tech-amazon.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Amazon</button>
    <button class="button" hx-get="/html/tech-git/git-index.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Git &amp; GitHub</button>
    <button class="button" hx-get="/html/tech/tech-glossary.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Glossary</button>
    <button class="button" hx-get="/html/tech/tech-google.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Google</button>
    <button class="button" hx-get="/html/tech/tech-html.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: HTML</button>
    <button class="button" hx-get="/html/tech/tech-instagram.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Instagram</button>
    <button class="button" hx-get="/html/tech-js/js-index.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: JavaScript</button>
    <button class="button" hx-get="/html/tech/tech-links.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Links</button>
    <button class="button" hx-get="/html/tech/tech-no-code.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: No Code</button>
    <button class="button" hx-get="/html/tech-python/python-index.html"  hx-target="#content-area" hx-swap="innerHTML">Tech: Python</button>
</div>
<br />
