<!--<div class="card">
    <h2>Web Development & Tech</h2>
    <p>A list of all documentation under this subject.</p>
    <a href="#" class="button" hx-get="/html/index-tech.html" hx-target="#content-area" hx-swap="innerHTML">Click here for the directory</a>
</div>-->

<div class="card">
    <h2>Miscellaneous</h2>
    <p>An assortment of topics</p>
    <a href="#" class="button" hx-get="/html/index-misc.html" hx-target="#content-area" hx-swap="innerHTML">Click here for the directory</a>
    <a href="#" class="button" hx-get="/html/misc-youtube.html" hx-target="#content-area" hx-swap="innerHTML">Click here for the YouTube Collection</a>
</div>
