<div class="card">
    <h2>Miscellaneous</h2>

    <h3>Art</h3>
    <ul>
        <li><a href="https://www.instagram.com/reel/C_ydCh9q2mG/?igsh=Z2ZoNGVncW9keWtv" target="_blank">Popular Canvas Sizes</a></li>
    </ul>

    <h3>Careers</h3>
    <ul>
        <li><a href="https://bookkeepers.com/free-classes/finance-buzz-rocks" target="_blank">Bookkeeping Classes</a></li>
        <li><a href="https://jobs.buildsubmarines.com/" target="_blank">Jobs Building Submarines</a></li>
        <li><a href="https://linktr.ee/sylviaglynn" target="_blank">Link Tree: Sylvia Glynn</a></li>
    </ul>

    <h3>Emergencies</h3>
    <ul>
        <li><a href="https://downdetector.com/status/verizon/" target="_blank">Is Verizon experiencing an outage?</a></li>
        <li><a href="https://www.weather.gov/safety/winter" target="_blank">National Weather Service</a></li>
        <li><a href="https://www.ready.gov/winter-weather" target="_blank">Winter Weather</a></li>
        <li><a href="https://www.ready.gov/power-outages" target="_blank">Power Outages</a></li>
    </ul>

    <h3>Film Making</h3>
    <ul>
        <li><a href="https://www.instagram.com/reel/CumqRTKqeoQ/?igsh=endidDVwbHJ4YzZs" target="_blank">David Lynch</a> explains that 70 cards with 1 card per scene is a movie script.</li>
    </ul>

    <h3><a href="#" hx-get="/html/misc-health.html" hx-target="#content-area" hx-swap="innerHTML">Health</a></h3>
    <h3><a href="#" hx-get="/html/misc-philosophy.html" hx-target="#content-area" hx-swap="innerHTML">Philosophy</a></h3>

    <h3>Marketing</h3>
    <ul>
        <li><a href="https://contentmavericks.com/sss/p" target="_blank">Persado - The AI For Marketing At Scale</a></li>
        <li><a href="https://www.shopify.com/plus/guides/ecommerce-automation-101" target="_blank">E-Commerce Automation 101</a></li>
        <li><a href="#" hx-get="/html/misc-marketing-etsy.html" hx-target="#content-area" hx-swap="innerHTML">Marketing on Etsy</a></li>
    </ul>

    <h3>Publishing</h3>
    <ul>
        <li><a href="#" hx-get="/html/misc-publish-blurb.html" hx-target="#content-area" hx-swap="innerHTML">Blurb</a></li>
        <li><a href="#" hx-get="/html/misc-side-hustle-pod.html" hx-target="#content-area" hx-swap="innerHTML">Print On Demand</a></li>
    </ul>

    <h3><a href="#" hx-get="/html/misc-side-hustles.html" hx-target="#content-area" hx-swap="innerHTML">Side Hustles</a></h3>
    <h3><a href="#" hx-get="/html/misc-youtube.html" hx-target="#content-area" hx-swap="innerHTML">YouTube</a></h3>

    <h3>Travel</h3>
    <ul>
        <li><a href="#" hx-get="/html/misc-travel-mtba.html" hx-target="#content-area" hx-swap="innerHTML">The MTBA to Boston</a></li>
    </ul>
</div>

