<div class="card">
    <button class="button" hx-get="/html/misc/misc-index.html"  hx-target="#content-area" hx-swap="innerHTML">Miscellaneous</button>
    <button class="button" hx-get="/html/misc/misc-travel.html" hx-target="#content-area" hx-swap="innerHTML">Travel</button>
    <button class="button" hx-get="/html/index-tech.html" hx-target="#content-area" hx-swap="innerHTML">Web Development &amp; Tech</button>
    <button class="button" hx-get="/html/misc/misc-youtube.html" hx-target="#content-area" hx-swap="innerHTML">YouTube</button>
</div>
<br />
