<div class="card">
    <h2>Git & GitHub</h2>

    <ul>
        <li><a href="#" hx-get="/html/tech-git/github-pages.html" hx-target="#content-area" hx-swap="innerHTML">GitHub: Pages</a></li>
        <li><a href="#" hx-get="/html/tech-git/git-stash.html" hx-target="#content-area" hx-swap="innerHTML">Git: Stash</a></li>
    </ul>
</div>

<!--
    <a href="#" class="button" hx-get="/html/tech-git/github-pages.html" hx-target="#content-area" hx-swap="innerHTML">GitHub: Pages</a>
    <a href="#" class="button" hx-get="/html/tech-git/git-stash.html" hx-target="#content-area" hx-swap="innerHTML">Git: Stash</a>
-->